#widget-title {
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: 4px;
    margin-left: 10px;
}

#clock {
    display: flex;
    flex-direction: column;
    border: 4px dotted blue;
    width: 900px;
    padding: 5px;
    font-size: 2em;
    background: orange;
    color: white;
    font-family: 'Dokdo', cursive;
}

.boomdigity {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
} /* for the clock!! */





#tab-wrapper {
    width: 70%;
    background: lightblue;
    box-sizing: border-box;
}

#tab-header {
    height: 50px;
}

#tab-content {
    /* background: lightblue; */
    height: 500px;
}

#tab-one {
    
}

#tab-two {

}

#tab-three {

}

.tabs {
    display: inline-block;
    border: 15px groove rosybrown;
    border-radius: 3px;
    padding: 5px;
    width: 33.33333333333333333333333333333%;
    box-sizing: border-box;
}

.tabs:hover {
    background: steelblue;
    color: white;
}

.tabs:active {
    background: purple;
    color: white;
}
